*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --color-white : hsl(252,30%,100%);
    --color-light: hsl(252,30%,95%);
    --color-gray: hsl(252,15% ,65%);
    --color-primary:hsl(252,75%,60%);
    --color-secondary :hsl(252,100%,90%);
    --color-success: hsl(120,95%,65%);
    --color-danger:hsl(0,95%,65%);
    --color-dark:hsl(252,30%,17%);
    --color-black:hsl(252,30%,10%);


    --border-radius: 2rem ;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding:1rem;

    --sticky-top-left :5.4rem;
    --sticky-top-right: -18rem;
}
body{
    font-family: 'poppins';
    color:var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}
.container{
    width:80%;
    margin:0 auto;
}
.profile-photo{
    width:3rem;
    aspect-ratio: 1/1;
    border-radius:50px;
    overflow: hidden;
}
img{
    display:block;
    width:100%;
}
.btn{
    display:inline-block;
    padding:var(--btn-padding);
    font-weight: 500;
    border-radius:var(--border-radius);
    cursor:pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
    scale: 1.05;
}
.btn-primary{
    background:var(--color-primary);
    color:white;
}
.text-bold{
    font-weight :500;
}
.text-muted{
    color:var(--color-gray)
}

nav{
    width:100%;
    background: var(--color-white);
    padding:  0.7rem 0;
    position: fixed;
    top:0;
    z-index:10;
} 
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding:var(--search-padding)
}
.search-bar input[type="search"]{
    background: transparent;
    width:30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color:var(--color-dark)
}
nav .search-bar input[type="search"]::placeholder{ 
    color: var(--color-gray);
}

nav .create{
    display: flex;
    align-items: center;
    gap :2rem;
}
label{
    padding: var(--btn-padding);
}

main{
    position: relative;
    top:5.4rem;
}
main .container{
  display:grid;
  grid-template-columns: 23vh auto 20vw;
  column-gap: 2rem;
  position: relative;
}
.left .profile{
    gap:1rem;
    margin-bottom: 2rem;
    padding:var(--card-padding);
    background: var(--color-white);
    border-radius : var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width:100%;
}
main .container .left{
    height: max-content;
    position: sticky; 
    top:var(--sticky-top-left);
}
main .container .left .slidebar{
    background: var(--color-white);
    padding:var(--card-padding);
    border-radius : var(--card-border-radius);
}
.notification-container{
    display: flex;
    width: 31rem;
    gap: 1rem;
    margin-bottom: 1rem;
}
.slidebar .notifications-popup{
    position:absolute ;
    background: var(--color-white);
    padding:var(--card-padding);
    border-radius : var(--card-border-radius);
    left:15rem;
    top:0.4rem;
    display: none;
}
.slidebar .notifications-popup::before{
    content: '';
    border-radius:50% ;
    background-color: var(--color-white);
    
}
.menu-item{
    display: flex;
    gap: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
}
.slidebar .menu-item span{
    font-size: 1.7rem;
}
.notification-count{
    position: absolute;
    left: 17px;
    top: 14px;
    background-color: red;
    color: white;
    border-radius: 20px;
    width:25px;
    text-align: center;
    font-size: 12px;
}
.notifications-popup::before{
   content: '';
   position: absolute;
   background: red;
   height: 10px;
   width: 10px;
   z-index: 6;
   display: block;
   color: red;
}
.left .notification-popup .notification-container small{
    display: block;
}
.middle{
   width: 100%;
}
.stories{
    display: flex;
    gap: 1rem;
} 
.story{
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    height: 13rem;
    justify-content: space-between;
    align-items:center;
    font-size: 0.75rem;
    width: 100%;
    color: white;
    overflow: hidden;
    position: relative;
    background: linear-gradient(transparent, rgb(0,0,0,0.75));
}
.story:nth-child(1){
    background: url('story-1.jpg') no-repeat center center/cover;
}
.story:nth-child(2){
    background: url('story-2.jpg') no-repeat center center/cover;
}
.story:nth-child(3){
    background: url('story-3.jpg') no-repeat center center/cover;
}
.story:nth-child(4){
    background: url('story-4.jpg') no-repeat center center/cover;
}
.story:nth-child(5){
    background: url('story-5.jpg') no-repeat center center/cover;
}
.story:nth-child(6){
    background: url('story-6.jpg') no-repeat center center/cover;
}
.post{
    display: flex;
    margin-top: 2rem;
    background: var(--color-white);
    padding: var(--search-padding);
    align-items: center;
    border-radius: var(--border-radius) ;
    gap: 1rem;
    justify-content: space-between;
}
.post .create{
    display: flex;
}
.search-bar{
    display: flex;
}
.feed{
    background: var(--color-white);
    padding: var(--card-padding);
    margin-top: 2rem;
    border-radius: var(--border-radius);
}
.feed .header{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.feed .header img{
    border-radius: 50%;
}
.img-body img{
    padding: 5px 5px ; 
    border-radius: 32px
}
.action{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.imgliked img{
    width:2rem;
    border-radius: 50%;
    position: relative;
    background-color: white;
    border: 3px solid white;
}
.liked-by .liked{
    display: flex;
    margin-bottom:1rem ;
    align-items: center;
}
.imgliked {
    display: flex;
    background-color: white;
}
.imgliked .img2{
    position: relative;
    right: 17px;
    background-color: white;
}
.imgliked .img3{
    position: relative;
    right: 32px;
    background-color: white;
}
.feed-body{
    margin-bottom: 1rem;
}